body{
    background: rgb(141, 197, 228);
}

.full{
    position: relative;
    top: 4px;
    left: 4px;
    background-image: url('https://source.unsplash.com/random/150×150');
    width: 150px;
    height: 150px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(53, 86, 108, 0.75);
}

.empty{
   content: ''; 
   display: inline-block;
   width: 160px;
   height: 160px;
   margin: 5px;
   background: rgb(184, 226, 232);
   border: 1px solid rgb(112, 211, 233);
   border-radius: 5px;
   box-shadow: 4px 4px 8px rgba(22, 50, 68, 0.75);
}

.hovered{
  background: rgb(196, 220, 223);
  border: 3px dashed rgb(20, 223, 159);
}

.invisible{
  display: none;
}